body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    background-color: rgb(40, 40, 40);
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

.answer-container {
    background-color: gray;
    text-align: end;
    margin: 16px;
    padding: 16px;
    width: 300px;
    height: 40px;
}

.answer{
    font-size: 24px;
}

.button-container {
    background-color: rgb(40, 40, 40);
    padding: 24px;
}

button {
    padding: 24px;
    width: 75px;
    height: 75px;
    border-radius: 24px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.function-buttons{
    background-color: aqua;
}

.function-buttons.active {
    background-color: rgb(97, 182, 1);
}